section(id='posts' class=" section " data-num='2' data-color-bg="#000" data-color-icon="#FF5D09" data-animation-color="orange")
    .container
        .inner-container.c-text 
            h2.bounce-text !{"posts"}
            .swiper-container.swiper-posts(dir="rtl")
                .swiper-wrapper
                    .swiper-slide.swiper-slide-post
                        .swiper-slide-post__img
                            img(src="img/img.png", alt="") 
                        .swiper-slide-post__text
                            .left-in-text !{'Test text'}
                            .left-in-text !{'Test text 1'}
                        a(href="#" class='swiper-slide-post__link')
                    .swiper-slide.swiper-slide-post
                        .swiper-slide-post__img
                            img(src="img/img.png", alt="") 
                        .swiper-slide-post__text
                            .left-in-text !{'Test text'}
                            .left-in-text !{'Test text 1'}
                        a(href="#" class='swiper-slide-post__link')
                    .swiper-slide.swiper-slide-post
                        .swiper-slide-post__img
                            img(src="img/img.png", alt="") 
                        .swiper-slide-post__text
                            .left-in-text !{'Test text'}
                            .left-in-text !{'Test text 1'}
                        a(href="#" class='swiper-slide-post__link') 
                    .swiper-slide.swiper-slide-post
                        .swiper-slide-post__img
                            img(src="img/img.png", alt="") 
                        .swiper-slide-post__text
                            .left-in-text !{'Test text'}
                            .left-in-text !{'Test text 1'}
                        a(href="#" class='swiper-slide-post__link')
                    .swiper-slide.swiper-slide-post
                        .swiper-slide-post__img
                            img(src="img/img.png", alt="") 
                        .swiper-slide-post__text
                            .left-in-text !{'Test text'}
                            .left-in-text !{'Test text 1'}
                        a(href="#" class='swiper-slide-post__link')
                    .swiper-slide.swiper-slide-post
                        .swiper-slide-post__img
                            img(src="img/img.png", alt="") 
                        .swiper-slide-post__text
                            .left-in-text !{'Test text'}
                            .left-in-text !{'Test text 1'}
                        a(href="#" class='swiper-slide-post__link')
                .posts-next.swiper-button-next
                .posts-prev.swiper-button-prev
                
                