section(id='services' class=" section" data-num='3' data-color-bg="#FF5F10" data-color-icon="#FFF" data-animation-color="white")
    .container
        .inner-container.c-text
            h2.bounce-text !{"services"}
            .services-container
                .services-container__info
                    
                .swiper-container.swiper-services
                    .swiper-wrapper
                        .swiper-slide.service-slide !{'1'}
                        .swiper-slide.service-slide !{'2'}
                        .swiper-slide.service-slide !{'3'}
                        .swiper-slide.service-slide !{'4'}
                        .swiper-slide.service-slide !{'5'}
                        .swiper-slide.service-slide !{'6'}
                    .swiper-pagination.services-pagination
                        img.pagination-img(src="img/services/bullets/1.png", alt="")
                        img.pagination-img(src="img/services/bullets/1.png", alt="")
                        img.pagination-img(src="img/services/bullets/1.png", alt="")
                        img.pagination-img(src="img/services/bullets/1.png", alt="")
                        img.pagination-img(src="img/services/bullets/1.png", alt="")
                        img.pagination-img(src="img/services/bullets/1.png", alt="")