section(id='services' class="section" data-num='3' data-color-bg="#FF5F10" data-color-icon="#FFF" data-animation-color="white")
    .container
        .inner-container.c-text
            
            .services-container
                .services-container__info
                    h2 
                        .thin-text.bounce-text !{"OUR"}
                        .thin-text.bounce-text !{"DIGITAL"}
                        .normal-text.bounce-text !{"MARKETING"}
                        .normal-text.bounce-text !{"SERVICES"}
                    p.thin-text.bounce-text !{"We sow the seeds for success by offering a wide range of digital marketing services for healthcare sectors from standalone to integrated online marketing activities to get Healthcare and pharmaceutical brands alive and kicking."}
                .services__tabs
                    .services__row.active(data-color-bg="#F65314")
                        .services__icon
                            img(src="img/services/bullets/1.png", alt="")
                        .services__text
                            .services__title !{"Healthcare Social Media Management"}
                            p.thin-text !{"It's not about quantity, it's about quality. We develop a foolproof social media marketing strategy for pharma to nurture an effective brand image that stands out among competitors."}
                    .services__row(data-color-bg="#FFBB00")
                        .services__icon
                            img(src="img/services/bullets/1.png", alt="")
                        .services__text
                            .services__title !{"Web Design For Pharma"}
                            p.thin-text !{"Today's world feeds on the internet. Keeping pharmaceutical websites looking futuristic is substantial. When we launch a web rocket, we consider web standards that fit the pharmaceutical field, UX, bug-free development, SEO, A/B testing, inbound marketing, conversion funnel & Analytics to name a few."}
                    .services__row(data-color-bg="#00A1F1")
                        .services__icon
                            img(src="img/services/bullets/1.png", alt="")
                        .services__text
                            .services__title !{"Mobile App Development"}
                            p.thin-text !{"In a world where everyone carries mobile phones, we create ads and custom content for these devices in order to ensure that your message reaches everyone"}
                    .services__row(data-color-bg="0078D4")
                        .services__icon
                            img(src="img/services/bullets/1.png", alt="")
                        .services__text
                            .services__title !{"Video Production For Healthcare Campaigns"}
                            p.thin-text !{"Video production is on the rise in the digital world. Every business needs to include videography in its strategy to capture their best moments. We craft 2D Infographics, motion graphics, stop motion videos and video shootings."}
                    .services__row(data-color-bg="#004578")
                        .services__icon
                            img(src="img/services/bullets/1.png", alt="")
                        .services__text
                            .services__title !{"Creative Visual Hub"}
                            p.thin-text !{"We really care! Nothing works like our brand-new creative concepts that we make from the word go all the way up to a powerful health awareness campaign that converts."}