section(id='posts' class="orange-menu section" data-num='1')
    .container
        h2 !{"posts"}
        .swiper-container.swiper-posts
            .swiper-wrapper
                .swiper-slide !{'1'}
                .swiper-slide !{'2'}
                .swiper-slide !{'3'}
                .swiper-slide !{'4'}
                .swiper-slide !{'5'}
                .swiper-slide !{'6'}
            .posts-next.swiper-button-next
            .posts-prev.swiper-button-prev