section(id='posts' class="orange-menu section " data-num='1')
    .container
        .inner-container.c-text 
            h2.bounce-text !{"posts"}
            .swiper-container.swiper-posts
                .swiper-wrapper
                    .swiper-slide.swiper-slide-post !{'1'}
                    .swiper-slide.swiper-slide-post !{'2'}
                    .swiper-slide.swiper-slide-post !{'3'}
                    .swiper-slide.swiper-slide-post !{'4'}
                    .swiper-slide.swiper-slide-post !{'5'}
                    .swiper-slide.swiper-slide-post !{'6'}
                .posts-next.swiper-button-next
                .posts-prev.swiper-button-prev