section(id='reviews' class="white-menu section" data-num='3')
    .container
        h2 !{"reviews"}
        .swiper-container.swiper-reviews
            .swiper-wrapper
                .swiper-slide !{'1'}
                .swiper-slide !{'2'}
                .swiper-slide !{'3'}
                .swiper-slide !{'4'}
                .swiper-slide !{'5'}
                .swiper-slide !{'6'}
            .reviews-next.swiper-button-next
            .reviews-prev.swiper-button-prev